<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- your-component.page.html -->
<ion-content class="ion-padding">
  <ion-content class="center-content">
   
    <ion-img src="assets/images/logo.png"></ion-img>




  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" name="name" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" required></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" background= #932337 class="button" (click)="signUp()">Sign Up</ion-button>

</ion-content>
</ion-content>

