.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;


  .home-container {
    max-width: 320px;
    margin: auto;
    text-align: center;
  }
  .foodguard-logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }


  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }


  p {
    margin-bottom: 20px;
    text-align: center;
  }
}
